.imageWrapper {
  .flex();
  flex-wrap: wrap;
  justify-content: unset;
  .imageItem {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 8px;
    .closeIcon {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
    }
    .image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}